/* untuk tablet */
@media all and (max-width: 1145px) {
    /* footer*/
    footer {
        padding-bottom: 50px;
        text-align: center;
      }

      .footer-logo{
          float: none;
      }
    .footer_dts{
          float: none;
          padding-top: 40px;
          text-align: center;
      }
    .footer_sponsor{
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer_kominfo img{
          float:left;
          width:30%;
          display: block;
          padding-right:10px ;
      }
      .footer_dts_logo img{
        float:left;
        width:28%;
        display: block;
        padding-left: 30px ;
    }
      .footer_progate img{
        float:none;
        width:30%;
        display: block;
        padding-top: 40px;
        padding-left: 20px ;
        
      }
      /* end footer */
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {


  /* Navbar */

.logo-pendekar{
    height: 50px;
    padding-top: 15px;
}
.menu li {
  display:none;
}
.menu-icon {
  display: block;
}


 /* footer*/
 footer {
    padding-bottom: 50px;
    text-align: center;
  }

  .footer-logo{
      float: none;
  }
  .footer-logo p{
      font-size: 12px;
  }
  .footer_dts{
      float: none;
      padding-top: 20px;
      text-align: center;
      font-size: 12px;
  }
  .footer_sponsor{
    padding-top: 15px;
    padding-bottom: 15px;
}
  .footer_kominfo img{
      float:none;
      width:70%;
      display: block;
      margin-left: 15px;
  }
  .footer_dts_logo img{
    float:none;
    width:68%;
    display: block;
    margin-left: 15px; 
}
  .footer_progate img{
    float:none;
    width:70%;
    display: block;
    padding-top: 30px;
    margin-left: 15px;
  }
  /* end footer */
  /* card column */
  .card-wrapper {
    flex-direction: column;
  }
  .card {
    width:  300px;
    margin-bottom: 40px;
  }
  main {
    height:fit-content;
  }
}

/* Media query hero banner */
@media screen and (min-width: 980px){
  .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 40px; }    
}

@media all and (max-width: 1030px) and (min-width: 760px) {
   .hero {
     top:300px;
   }
}
@media all and (max-width: 379px) and (min-width: 370px) {
  .hero {
    top:30%;
  }
}
@media all and (max-width: 414px) and (min-width: 410px) {
  .hero {
    top:35%;
  }
}

@media all and (min-width: 550px) and (max-width: 1100px) {

  .card-wrapper {
    flex-direction: column;
  }
  .card {
    width : 500px
  }
  .fade-carousel {
    height : 700px;
  }
}
