*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS untuk Navbar */



/* Navbar end */



/* CSS untuk Name Card */


/* Namecard end */


/* CSS Untuk footer */



/* Footer end */