*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* CSS untuk Navbar */
header{
  position: fixed;
  height: 65px;
  width: 100%;
  font-family:Helvetica;
  transition: all 0.5s;
  background-color: rgba(30,20,30, 0.9);
  color: white;
  z-index: 16;
}
.logo{
  float: left;
}
.logo-pendekar{
  height: 65px;
  float: left;
  background-color: white;
  margin-right: 15px;
  transition: all 0.5s;
}
.logo h1{
  line-height: 65px;
  float: left;
  font-size: 18px;
  text-align: center;
}
.logo span{
  color: #24a576;
}
.logo-pendekar:hover{
background-color:unset;
}
.menu{
  float: right;
}
.menu li{
  float: left;
  padding: 0 15px;
  line-height: 65px;
}
.menu li:hover{
  line-height: 60px;
  background-color: white;
  color:  #1e1e1e;
  font-weight: bold;
  transition: all 0.5s;
}
main{
  height: 1000px;
}


/* Navbar end */



/* CSS untuk Name Card */


/* Namecard end */


/* CSS Untuk footer */
footer h1 {
    color: #b3aeb5;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer {
    padding-top: 20px;
    padding-bottom: 130px;
    background-color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
  }
  footer p{
      padding-top: 5px;
      color:white;

  }
  .footer-logo{
      float: left;
      padding-top: 10px;
  }
  .footer-logo a{
      text-decoration: none;
      color: orange;
      font-weight: bold;
      display: inline-block;
  }
  .dts p{
    padding-top: 5px;
    color:white;
  }
  .dts a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline-block;
  }
  .dts{
      float: right;
      padding-top: 10px;
      text-align: right;
  }

  .kominfo img{
      float: left;
      width:13%;
      padding-left: 30px;
      padding-top: 20px;
      display: block;
  }
  .dts_logo img{
    float: left;
    width:13%;
    padding-left: 30px;
    padding-top: 20px;
    display: block;
}
  .progate img{
    float: left;
    width:13%;
    padding-left: 30px;
    padding-top: 30px;
    display: block;
  }

/* Footer end */
